* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #18131F;
  font-family: Roboto, sans-serif;
  color: #EDEDE3;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

ul, ol, li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #EDEDE3;
}

.menu {
  background-color: #433B47;
}

.header {
  padding: 20px;
  background: #18131F 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #0000000D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img:nth-of-type(2),
.header img:nth-of-type(3) {
  border-radius: 50%;
  width: 30px;
}

nav {
  display: flex;
  flex-direction: column;
}
