nav {
  position: absolute;
  width: 100%;
  max-width: 320px;
  transform: translateX(-100%);
  transition: 0.5s;
}

nav.open {
  transform: translateX(0);
  transition: 0.5s;
}

.menu {
  width: 100%;
  max-width: 320px;
}

.menu-item,
.sub-menu-item {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item::before,
.sub-menu-item::before {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 86%;
  z-index: 1;
  border-bottom: 1px solid #726C75;
}

.menu-item:hover::before,
.sub-menu-item:hover::before {
  border: none;
}

.menu-item:last-child::before {
  border: none;
}

.menu-item:hover,
.sub-menu-item:hover {
  background-color: #FF1430;
  font-weight: 700;
  border-bottom: 1px solid #FF1430;
  box-shadow: 0px 2px 4px #00000026;
}

.arrow-icon {
  width: 14px;
  height: 8px;
  margin-right: 2%;
  transform: rotate(180deg);
  transition: 0.5s;
}

.sub-menu {
  padding-left: 20px;
  display: none;
}

/* Animation on click */

.menu-item.open {
  background-color: #FF1430;
  font-weight: 700;
  border-bottom: 1px solid #FF1430;
  box-shadow: 0px 2px 4px #00000026;
}

.sub-menu.open {
  display: block;
}

.arrow-icon.open {
  transform: rotate(0deg);
}

.menu-item.open::before,
.sub-menu-item.open::before {
  border: none;
}

.bar {
  width: 85%;
  border-radius: 15px;
  margin: 15px auto;
}

.menu-button {
  width: 75%;
  padding: 15px;
  margin: 15px auto;
  border: 1px solid #FF1430;
}

span {
  margin-left: 15px;
  font-size: 11px;
  background-color: #FF1430;
  padding: 4px;
  border-radius: 8px;
}

.menu-item:hover span{
  color: #FF1430;
  background-color: #EDEDE3;
}
